### Pandas (Second Dimension DataFrame)

In [65]:
import pandas as pd

In [66]:
population = pd.Series([955542,65484,654654654,21321])
population

0       955542
1        65484
2    654654654
3        21321
dtype: int64

In [67]:
#index 추가 
population = pd.Series([90000,100000,45000,39000],
                        index = ['서울','부산','인천','대전'])
population

서울     90000
부산    100000
인천     45000
대전     39000
dtype: int64

In [68]:
# index 확인
population.index

Index(['서울', '부산', '인천', '대전'], dtype='object')

In [69]:
# series에 name 지정
population.name = '인구'
population.index.name = '도시'
population

도시
서울     90000
부산    100000
인천     45000
대전     39000
Name: 인구, dtype: int64

In [70]:
# Series Calculation

population + 100000

도시
서울    190000
부산    200000
인천    145000
대전    139000
Name: 인구, dtype: int64

In [71]:
# indexing 
population[1]
population['부산']

population[[0,3,1]]

population[['서울','인천']]

도시
서울    90000
인천    45000
Name: 인구, dtype: int64

In [80]:
# boolean
population <= 170000

population [(population >= 100000) & (population <= 200000)]

도시
부산    100000
Name: 인구, dtype: int64

### Dictionary

In [73]:
pokemon_data = {'피카츄': 9631, '꼬부기': 3393,'파이리': 1490, '이상해씨': 3632} 

pokemon_strength_data = pd.Series(pokemon_data)

pokemon_strength_data

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    3632
dtype: int64

In [74]:
pokemon_data2 = {'피카츄': 10000, '꼬부기': 3483,'이브이': 2466, '뮤': 2890} 
pokemon_strength_data2 = pd.Series(pokemon_data2)
pokemon_strength_data2

피카츄    10000
꼬부기     3483
이브이     2466
뮤       2890
dtype: int64

In [75]:
# 레벨업해서 올라간 공격력을 계산 
attack = pokemon_strength_data2 - pokemon_strength_data
attack
# NaN

꼬부기      90.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     369.0
dtype: float64

In [76]:
# 꼬부기와 피카츄만 보고싶을 때 ()
attack[attack.notnull()]

꼬부기     90.0
피카츄    369.0
dtype: float64

In [77]:
# 공격력 증가율 계산
rp = (pokemon_strength_data2 - pokemon_strength_data) / pokemon_strength_data * 100

attack[attack.notnull()]

꼬부기     90.0
피카츄    369.0
dtype: float64

In [78]:
# Series 데이터 갱신, 추가, 삭제
attack['파이리'] = 1616
attack['리자몽'] = 8888
del attack['이상해씨']

attack[attack.notnull()]

꼬부기      90.0
파이리    1616.0
피카츄     369.0
리자몽    8888.0
dtype: float64

In [81]:
attack[attack.isnull()]

뮤     NaN
이브이   NaN
dtype: float64